* {
  margin: 0;
  padding: 0;
}

.view {
  width: 80%;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  color: #666;
}

ul,
li {
  list-style: none;
}

/* .news-view {} */

.news-view .item {
  padding: 10px;
}